.vp-table table {
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
}

.vp-table thead {
  display: flex !important;
  width: 100% !important;
}

.vp-table thead tr th {
  font-size: 14px !important;
  text-align: left !important;
  border: none !important;
  flex: 1 !important;
  background-color: unset;
}

.vp-table thead tr {
  display: flex !important;
  width: 100% !important;
  border-top: none !important;
}

.vp-table tbody tr td {
  font-size: 14px !important;
  text-align: left;
  border: none !important;
  min-width: 130px !important;
  flex: 1 !important;
}

.vp-table tbody tr {
  display: flex !important;
  background-color: unset !important;
}

itip::before {
  content: '[i]' !important;
  position: relative !important;
  font-weight: 900 !important;
  font-size: 14px !important;
  font-family: var(--vp-font-mono) !important;
  color: var(--vp-code-color) !important;
  margin-right: 10px !important;
  margin-left: 10px !important;
  cursor: pointer !important;
}

html {
  --vp-sidebar-bg-color: var(--vp-c-bg) !important;
}

body {
  @media (min-width: 1280px) {
    .container,
    .content {
      min-width: calc(100vw - 600px) !important;
    }

    .content-container {
      max-width: 920px !important;
    }
  }

  @media (min-width: 1440px) {
    .VPNavBar {
      background: var(--vp-c-bg) !important;
    }

    .VPSidebar {
      padding-left: 50px !important;
      width: 300px !important;
    }

    .VPNavBar.has-sidebar .content {
      padding-right: 50px !important;
    }

    .VPNavBar.has-sidebar .title {
      padding-left: 0px !important;
      width: 0 !important;
    }

    .VPNavBar.has-sidebar .title > span {
      margin-left: 50px;
    }

    .VPNavBar.has-sidebar .divider,
    .VPNavBarSearch {
      flex-grow: unset !important;
      padding-left: 0 !important;
    }

    .VPContent.has-sidebar {
      padding-left: 300px !important;
    }
  }

  .VPSidebarItem .is-active {
    background-color: var(--vp-code-color) !important;
    padding: 3px 15px !important;
    border-radius: 5px !important;
  }

  .indicator {
    background-color: unset !important;
  }

  .VPSidebarItem .is-active .text {
    color: #fff !important;
    cursor: pointer;
  }
}
